<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <div class="layui-row">
		<!-- 公告-->
		<?php if(isset($config['notice']) AND $config['notice']):?>
		<blockquote class="layui-elem-quote layui-text" style="background-color: #ffffff;">
			<i class="layui-icon layui-icon-speaker"></i><?php echo $config['notice'];?>
		</blockquote>
		<?php endif;?>

        <div class="fly-panel">
            <div class="fly-area">
				<div class="title"><h2>最方便的知识付费平台</h2></div>
				<div class="description"><p>无需自建平台，一行代码轻松搞定。<a href="/demo" title="查看演示">查看演示</a></p></div>
                <div class="snapshot"><img src="/res/images/pay_snapshot.jpg"/></div>
            </div>
        </div>
		
    </div>
</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('index');
</script>