<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
	<div class="layui-row">
		<div class="fly-panel fly-panel-user" pad20>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			  <legend>代码展示</legend>
			</fieldset>
			<blockquote class="layui-elem-quote layui-quote-nm">
			<pre class="layui-code" lay-title="html" lay-skin="notepad">
			&lt;div class=&quot;zlkbpay-content&quot; data-hashid=&quot;u8&quot;&gt;&lt;/div&gt;
			&lt;script charset=&quot;utf-8&quot; type=&quot;text/javascript&quot; src=&quot;https://pay.zlkb.net/api/js/elements.js&quot; &gt;&lt;/script&gt;
			</pre>
			</blockquote>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			  <legend>效果展示</legend>
			</fieldset>
			<blockquote class="layui-elem-quote layui-quote-nm">
				<div class="zlkbpay-content" data-hashid="u8"></div>
				<script charset="utf-8" type="text/javascript" src="https://pay.zlkb.net/api/js/elements.js"></script>
			</blockquote>
		</div>
	</div>
</div>


<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('indexdemo');
</script>